<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <title>分享快乐</title>
    <link rel="stylesheet" href="/home/style.css" />

</head>
<body>
<%- include('./../components/header',{current:current}) -%>
<div class="welcome">
    <%- include('./../components/clock/index') -%>

    <!-- <img src="https://statich5.dlsjf.top/pic/%E6%9C%AA%E6%A0%87%E9%A2%98-1.png" alt=""> -->
</div>
<%- include('./../components/footer',{current:current}) -%>
</body>
</html>